.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 239, 248);


    .home-container {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 50%;
        border-radius: 10px;
        min-height: 600px;
        background-size: cover;
        background-color: rgb(248, 248, 248);
    }

    .container__inside {
        flex: 1;
        background: linear-gradient(rgb(39, 11, 96, 0.5), rgb(39, 11, 96, 0.5)), url("https://img.freepik.com/free-vector/social-media-network_74855-4575.jpg?w=1800&t=st=1668966636~exp=1668967236~hmac=cb97eb25813eca5823ea4cd89f89e7b4c7ea0c0cc32388cbb2cac7869979502a") center;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        border-radius: 20px;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            input[type="text"],
            input[type="password"] {
                border: none;
                border-bottom: 1px solid lightgray;
                padding: 20px 10px;
                background-color: rgb(240, 240, 240);
                border-radius: 20px;

            }


            input[type=file]::file-selector-button {
                margin-right: 20px;
                border: none;
                background: #084cdf;
                padding: 10px 20px;
                border-radius: 20px;
                color: #fff;
                cursor: pointer;
                transition: background .2s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            }

            input[type=file]::file-selector-button:hover {
                background: #0d45a5;


            }

            input[type=file] {
                padding: 5px;
                background-color: rgb(240, 240, 240);
                border-radius: 20px;
                color: black;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            }
        }

        .container-inside__message {
            display: flex;
            text-align: center;
            justify-content: center;
            max-width: 100%;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                display: flex;
                padding: 10px;
                margin: 5px;
                background-color: rgb(240, 240, 240);
                border-radius: 20px;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    background-color: rgb(255, 213, 239);
                    transition: 0.5s;
                }

            }
        }

    }

    .button-logout,
    .button-login {
        width: 20%;
        padding: 10px;
        margin-bottom: 30px;
        border: none;
        background-color: rgb(240, 240, 240);
        color: black;
        font-weight: 400;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }


    .button-upload,
    .button-anagram {
        width: 20%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        background-color: rgb(240, 240, 240);
        color: black;
        font-weight: 400;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }

    .button-upload:hover {
        background: #084cdf;
        color: white;
        transition: 0.5s ease;
    }

    .button-logout:hover {
        background: #df0808;
        color: white;
        transition: 0.5s ease;
    }
}